<a href="https://colab.research.google.com/github/douglasbarbosadelima/Data-Science/blob/master/Deep_bow_res.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Deep Bow : classificação de polaridade com base reduzida do yelp (10k)

In [4]:
!pip install tensorflow==2.0.0

Requirement already satisfied: tensorflow==2.0.0 in /usr/local/lib/python3.6/dist-packages (2.0.0)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0.0) (3.1.0)
Requirement already satisfied: numpy<2.0,>=1.16.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0.0) (1.17.5)
Requirement already satisfied: tensorflow-estimator<2.1.0,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0.0) (2.0.1)
Requirement already satisfied: grpcio>=1.8.6 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0.0) (1.27.1)
Requirement already satisfied: keras-applications>=1.0.8 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0.0) (1.0.8)
Requirement already satisfied: gast==0.2.2 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0.0) (0.2.2)
Requirement already satisfied: google-pasta>=0.1.6 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0.0) (0.1.8)
Requirement already satisfied: wrapt>=1.11.1 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0.0) (1.11.2)
Requirement already satisfied: keras-preprocessing>=1.0.5 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0.0) (1.1.0)
Requirement already satisfied: protobuf>=3.6.1 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0.0) (3.10.0)
Requirement already satisfied: absl-py>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0.0) (0.9.0)
Requirement already satisfied: wheel>=0.26 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0.0) (0.34.2)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0.0) (1.12.0)
Requirement already satisfied: tensorboard<2.1.0,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0.0) (2.0.2)
Requirement already satisfied: astor>=0.6.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0.0) (0.8.1)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow==2.0.0) (1.1.0)
Requirement already satisfied: h5py in /usr/local/lib/python3.6/dist-packages (from keras-applications>=1.0.8->tensorflow==2.0.0) (2.8.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from protobuf>=3.6.1->tensorflow==2.0.0) (45.2.0)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.1.0,>=2.0.0->tensorflow==2.0.0) (2.21.0)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.1.0,>=2.0.0->tensorflow==2.0.0) (0.4.1)
Requirement already satisfied: google-auth<2,>=1.6.3 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.1.0,>=2.0.0->tensorflow==2.0.0) (1.7.2)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.1.0,>=2.0.0->tensorflow==2.0.0) (1.0.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.1.0,>=2.0.0->tensorflow==2.0.0) (3.2.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.21.0->tensorboard<2.1.0,>=2.0.0->tensorflow==2.0.0) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.21.0->tensorboard<2.1.0,>=2.0.0->tensorflow==2.0.0) (1.24.3)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.21.0->tensorboard<2.1.0,>=2.0.0->tensorflow==2.0.0) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.21.0->tensorboard<2.1.0,>=2.0.0->tensorflow==2.0.0) (2019.11.28)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.1.0,>=2.0.0->tensorflow==2.0.0) (1.3.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.6/dist-packages (from google-auth<2,>=1.6.3->tensorboard<2.1.0,>=2.0.0->tensorflow==2.0.0) (0.2.8)
Requirement already satisfied: cachetools<3.2,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from google-auth<2,>=1.6.3->tensorboard<2.1.0,>=2.0.0->tensorflow==2.0.0) (3.1.1)
Requirement already satisfied: rsa<4.1,>=3.1.4 in /usr/local/lib/python3.6/dist-packages (from google-auth<2,>=1.6.3->tensorboard<2.1.0,>=2.0.0->tensorflow==2.0.0) (4.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.1.0,>=2.0.0->tensorflow==2.0.0) (3.1.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.6/dist-packages (from pyasn1-modules>=0.2.1->google-auth<2,>=1.6.3->tensorboard<2.1.0,>=2.0.0->tensorflow==2.0.0) (0.4.8)

In [0]:
import tensorflow as tf
from sklearn.feature_extraction.text import TfidfVectorizer,CountVectorizer
import pandas as pd
import numpy as np
import random

tf.__version__

In [6]:
df=pd.read_csv('yelp_short_10k.csv')
df.head()

   Unnamed: 0               review_id  ... funny cool
0           0  vkVSCC7xljjrAI4UGfnKEQ  ...     0    0
1           1  n6QzIUObkYshz4dz2QRJTw  ...     0    0
2           2  MV3CcKScW05u5LVfF6ok0g  ...     0    0
3           3  IXvOzsEMYtiJI0CARmj77Q  ...     0    0
4           4  L_9BTb55X0GDtThi6GlZ6w  ...     0    0

[5 rows x 10 columns]

In [8]:
df.tail()

      Unnamed: 0               review_id  ... funny cool
9995        9995  BFp9V3jzANiEdP5NmIVDRg  ...     0    0
9996        9996  LqxEIponInZxdtwTISZTpg  ...     0    0
9997        9997  tRQTBlFcKB65G9Ow3PI1nQ  ...     0    0
9998        9998  rUFCKDGpuP03miyaPlv99A  ...     0    0
9999        9999  T1RSUw4s8p0QNK1Un32JMQ  ...     0    0

[5 rows x 10 columns]

In [9]:
df['stars'].value_counts()

5    3554
4    2966
3    1716
2     891
1     873
Name: stars, dtype: int64

Para fazermos uma classificação binária entre ótimo ou não, vamos considerar ótimo apenas  4 e o 5 e não ótimo os outros. Isso vai "balancear as classes"

In [0]:
df['classe']=0
filtro=df[df['stars']>=4].index
df.loc[filtro,'classe']=1

In [11]:
df['classe'].value_counts()

1    6520
0    3480
Name: classe, dtype: int64

Vamos tirar "aleatoriamente" 6520-3480 amostras de classe 1 (para simplificar, poderíamos usar critérios mais sofisticados para reduzir a amostra positiva)

In [0]:
index_1=df[df['classe']==1].index
index_1=list(index_1)
index_1
index_1_2=random.sample(index_1,k=3040)
df.drop(index=index_1_2,axis=0,inplace=True)

In [13]:
df['classe'].value_counts()

1    3480
0    3480
Name: classe, dtype: int64

In [14]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
stop = set(stopwords.words('english'))
#vect=TfidfVectorizer(stop_words=stop,max_features=10000)
vect=CountVectorizer(stop_words=stop,max_features=15000,ngram_range=(1,2),binary=True)
vect.fit(df['text'])

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

CountVectorizer(analyzer='word', binary=True, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=15000, min_df=1,
                ngram_range=(1, 2), preprocessor=None,
                stop_words={'a', 'about', 'above', 'after', 'again', 'against',
                            'ain', 'all', 'am', 'an', 'and', 'any', 'are',
                            'aren', "aren't", 'as', 'at', 'be', 'because',
                            'been', 'before', 'being', 'below', 'between',
                            'both', 'but', 'by', 'can', 'couldn', "couldn't", ...},
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [15]:
print(len(vect.vocabulary_))

15000

In [16]:
y=np.array(df['classe'].copy())
vect2 = vect.transform(df['text']).toarray()
X=vect2
X.shape, y.shape
X.shape,y.shape

((6960, 15000), (6960,))

In [0]:
model=tf.keras.Sequential()
model.add(tf.keras.layers.Dense(5000,activation='relu',input_shape=(15000,),kernel_regularizer=tf.keras.regularizers.l2(0.001)))
model.add(tf.keras.layers.Dropout(0.5))
model.add(tf.keras.layers.Dense(2000,activation='relu',kernel_regularizer=tf.keras.regularizers.l2(0.001)))
model.add(tf.keras.layers.Dropout(0.5))
model.add(tf.keras.layers.Dense(1,activation='sigmoid'))

In [0]:
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [0]:
model.fit(X,y,epochs=3,validation_split=0.3,batch_size=30)

Train on 4872 samples, validate on 2088 samples
Epoch 1/3
4872/4872 [==============================] - 158s 32ms/sample - loss: 2.2083 - accuracy: 0.7537 - val_loss: 1.3644 - val_accuracy: 0.8103
Epoch 2/3
4872/4872 [==============================] - 156s 32ms/sample - loss: 1.1482 - accuracy: 0.8680 - val_loss: 1.3152 - val_accuracy: 0.7989
Epoch 3/3
4872/4872 [==============================] - 156s 32ms/sample - loss: 1.0720 - accuracy: 0.8992 - val_loss: 1.3462 - val_accuracy: 0.7936

In [0]:
amostra="It's an amazing restaurant."
vnova=vect.transform([amostra]).toarray()
model.predict(vnova)

array([[0.6708581]], dtype=float32)

3       Love coming here. Yes the place always needs t...
6       Who would have guess that you would be able to...
8       Not bad!! Love that there is a gluten-free, ve...
11      Server was a little rude.\r\n\r\nOrdered the c...
12      I thought Tidy's Flowers had a great reputatio...
                              ...
9994    Awesome location, building, amenities and idea...
9995    I've had this place two times now... Just does...
9996    Cool place. A bit expensive when compared to t...
9997    The best vanilla latte I have ever had! The co...
9998    I've only had their Moca and it was gross! I'm...
Name: text, Length: 6960, dtype: object