<a href="https://colab.research.google.com/github/douglasbarbosadelima/Data-Science/blob/master/first_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Primeiros Passos em Python

Atenção : cada exercício deve ser resolvido na(s) célula(s) abaixo do seu enunciado

Exercício 1: Crie uma lista "ls" com os inteiros 1,2,3 e 4 e a fruta "abacate". Depois, insira os carros "fusca" e "corcel".

In [0]:
ls = [1, 2, 3, 4, 'abacate']
ls.append('fusca')
ls.append('corcel')

ls

[1, 2, 3, 4, 'abacate', 'fusca', 'corcel']

Exercício 2: apresente o número de elementos da lista "ls", além de seu primeiro e último elementos.

In [0]:
len(ls), ls[0], ls[-1]

(7, 1, 'corcel')

Exercício 3: Usando "slices", crie a lista "ls2", pegando do segundo ao quinto elemento de ls. ...Depois altere na ls abacate para abacateiro (é possível? por que?) e verifique se isso altera ls2

In [0]:
ls2 = ls[1:5]
ls[4] = 'abacateiro'
ls

[1, 2, 3, 4, 'abacateiro', 'fusca', 'corcel']

Exercício 4:Faça ls3=ls ..Foi feita uma cópia? Altere em ls 1 para 5 e verifique o efeito em ls3. Explique

In [0]:
ls3 = ls
print(id(ls3), id(ls))
ls[1] = 5

ls3, ls

139784082005128 139784082005128

([1, 5, 3, 4, 'abacateiro', 'fusca', 'corcel'],
 [1, 5, 3, 4, 'abacateiro', 'fusca', 'corcel'])

ls3 e ls nomeiam o mesmo objeto. Podemos verificar isso pelo id(ls3) e id(ls)

Exercicio 5: usando .copy(), crie lsc como cópia de ls, altere o primeiro elemento e note que lsc não se alterou!

In [0]:
lsCopy = ls.copy()
lsCopy[2] = 1000000

ls, lsCopy

([1, 5, 3, 4, 'abacateiro', 'fusca', 'corcel'],
 [1, 5, 1000000, 4, 'abacateiro', 'fusca', 'corcel'])

Exercício 6: crie a tupla tl=(1,2). Tente alterar o primeiro elemento. Verifique o resultado. Tupla é imutável!

In [0]:
tl = (1, 2)
tl[0] = 100

TypeError: ignored

Exercício 7: Crie um dicionário "dct" de telefones(ints) joão: 1234, maria :5678, carlos: 7899. Depois insira marcelo:7777. Tente mostrar o número de uma chave inexistente 'ana' e de uma existente (carlos).

In [0]:
dct = { 'joao': 1234, 'maria': 5678, 'carlos': 7899 }
dct['marcelo'] = 7777
dct

{'carlos': 7899, 'joao': 1234, 'marcelo': 7777, 'maria': 5678}

Exercício 8: Crie um conjunto de inteiros s1={1,2,3} e s2={3,4,5}. Obtenha a intersecção.

In [0]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}

s1&s2, 3 in s1 #interseccao

lx = [1, 1, 2, 2, 3, 3];
lx=list(set(lx))
lx

[1, 2, 3]

Exercício 9:crie uma lista de inteiros li=[1,2,4,6,7,12,0,22], crie uma lista vazia lp=[], percorra a lista li e insira em lp, os elementos pares de li. Eis nosso primeiro laço e primeiro if. Observe indentação para definir o início e final do laço (observe o :)

In [0]:
li = [1,2,4,6,7,12,0,22]
lp = []

for x in li:
  if x % 2 == 0:
    lp.append(x)

lp

[2, 4, 6, 12, 0, 22]

Exercício 10:Ordene a lista l=[1,9,2,3,12,0] em ordem crescente. Depois ordene a lista l1=[(1,3),(7,2),(4,2)] pelo primeiro elemento

In [0]:
l = [1, 9, 2, 3, 12, 0]
l.sort()
l

l1 = [(1, 3), (7, 2), (4, 2)]
l1.sort(key = lambda x: x[1]) # order by second element
print(l1)

l1.sort(key = lambda x: x[0] + x[1]) # order by sum of elements
print(l1)

[(7, 2), (4, 2), (1, 3)]
[(1, 3), (4, 2), (7, 2)]

Exercício 11:Crie uma lista de tuplas lt=[(0,4),(0,5),(1,6),(0,4),(2,6),(1,8)] o primeiro elemento da tupla é o id do usuário, o segundo é o produto adquirido.Apresente um dicionário com a lista dos produtos comprados por usuário.

In [0]:
lt=[(0,4),(0,5),(1,6),(0,4),(2,6),(1,8)]
produtos = {}

for x, x1 in lt:
  if x in produtos:
    produtos[x].append(x1)
  else:
    produtos[x] = [x1]
  
print(produtos)

{0: [4, 5, 4], 1: [6, 8], 2: [6]}

Exercício 12: Partindo do dicionário dct do exerício 11, crie uma matriz produtos (0 a 9) nas colunas e usuários (0 a 2). A matriz será uma lista de listas. Cada lista será uma linha da matriz "A".

In [0]:
arr = []
for i in produtos:
  aux = []
  for y in range(10):
    aux.append(produtos[i].count(y))
  arr.append(aux)
  
arr

[[0, 0, 0, 0, 2, 1, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 1, 0, 1, 0],
 [0, 0, 0, 0, 0, 0, 1, 0, 0, 0]]

Exercício 13: obtenha, a partir de dct[i], quantos produtos diferentes o usuário  "i" comprou

In [0]:
len(set(produtos[0]))

2

Exercício 14: crie uma função que devolve (com base em dct) os produtos comprados em comum por i e j

In [0]:
def intersect(i, j, l):
  a1 = set(l[i])
  a2 = set(l[j])
  return a1&a2

intersect(1, 2, produtos)

{6}

Exercício 15: Obtenha a matriz C pela multiplicação de A por B A=[[1,2],[3,4]] , B=[[3,1],[0,5]]

In [0]:
a = [[1, 2], [3, 4]]
b = [[3, 1], [0, 5]]
c = [[0, 0], [0, 0]]

for i in range(2) :
  for j in range(2) :
    for k in range(2):
      c[i][j] += a[i][k] * b[k][j]

c

0
1

[[3, 11], [9, 23]]

In [0]:
*

Exercicio 16: crie uma função norma(x) que recebe uma lista de inteiros e devolve a norma euclidiana desse "vetor". Teste-a com o vetor v=[1,0,3]

In [0]:
import math

v = [1, 0, 3]
def norma(x) :
  r = 0
  for i in x:
    r += i*i
  return math.sqrt(r)

norma(v)

3.1622776601683795

Exercício 17:crie uma função intern(x) que recebe duas listas de inteiros (mesma dimensão) e devolve o produto interno desses "vetores"

In [0]:
def intern(x, y):
  s = 0
  for i in range(len(x)):
    s += x[i]*y[i]
  return s

intern([100, 200, 300], [400, 500, 600])

320000

Exercício 18: o cos entre dois vetores é dado por v1.v2/||v1||||v2|| . Crie a função cosvect que recebe duas listas e devolve o cos entre elas.Utilize as funçõae intern e norma já criadas

In [0]:
def cosvect(x, y):
  i = intern(x, y)
  nx = norma(x)
  ny = norma(y)

  return i / (nx * ny)

cosvect([100, 200, 300], [400, 500, 600])

0.9746318461970762

Exercício 19: use a função cosvect como indicador de similaridade entre vetores. Obtenha a similaridade entre os usuários 1 e 2 do exercício 12, em função da similaridade entre as linhas 1 e 2 da matriz AA.

In [111]:
def emq(x, y):
  s = 0
  for i in range(len(x)):
    s += (x[i] - y[i]) ** 2
  return s / len(x)

emq([5, 8, 10], [4.5, 8, 11])

0.4166666666666667

Exercício 20:Crie a função emq(ye,y) "erro médio quadrático" que dá a soma dos quadrados das diferenças entre os valores estimados "vetor ye" e os valores reais "y". A soma deverá ser dividida pelo número de elementos de ye.

Exercício 21: Faça o gráfico (com bolas) da função y=x**2 para x=1,2,3,4 e 5. Use a biblioteca pyplot de matplotlib.

Exercício 22: Faça o gráfico (com bolas) da função sigmoid sig(x)=1/(1+e**-x) para x de -10 a +10 de 0.1 em 0.1. Crie a função sigmoid.