<a href="https://colab.research.google.com/github/douglasbarbosadelima/Data-Science/blob/master/Regressao_poli_sklearn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Regressao_poli_sklearn_res

In [0]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression #observe a bibiloteca sklearn
from sklearn.metrics import mean_squared_error #importando métrica de performance

In [6]:
df=pd.read_csv('https://raw.githubusercontent.com/douglasbarbosadelima/Data-Science/master/cars-uci-linked.csv')
df=df.dropna()#retiramos os missings
df.head()

    mpg  cylinders  displacement  ...  year  origin                       name
0  18.0          8          3070  ...    70       1  chevrolet chevelle malibu
1  15.0          8          3500  ...    70       1          buick skylark 320
2  18.0          8          3180  ...    70       1         plymouth satellite
3  16.0          8          3040  ...    70       1              amc rebel sst
4  17.0          8          3020  ...    70       1                ford torino

[5 rows x 9 columns]

Vamos fazer a regressão com as features potência (horsepower), peso(weight) e seus quadrados

Inicialmente, vamos standardizar horsepower e weight

In [0]:
def standard(s):
    med=s.mean()
    std=s.std()
    s=(s-med)/std
    return med,std,s

In [0]:
mh,dh,df['horsepower1'] = standard(df['horsepower'])
mw,dw,df['weight1'] = standard(df['weight'])
md, dd, df['displacement1'] = standard(df['displacement'])
my, dy, df['year1'] = standard(df['year'])

Vamos agora montar a matriz X e o vetor y(target). <b> No sklearn, a montagem da matriz X é dó com as features, não precisamos
da coluna de uns (do bias)</b>

In [0]:
X=np.zeros((len(df),8))
X[:,0]=df['horsepower1']
X[:,1]=df['weight1']
X[:,2]=df['horsepower1']**2
X[:,3]=df['weight1']**2
X[:,4]=df['displacement1']
X[:,5]=df['displacement1']**2
X[:,6]=df['year1']
X[:,7]=df['year1']**2
y=np.array(df['mpg'])

Agora, vamos instanciar a regressão linear

In [0]:
rl=LinearRegression()

E fazer o treinamento...o "fit" entre X e y com base no modelo de regressão linear

In [29]:
rl.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

Vamos obter ye com .predict e calcular o erro médio quadrático

In [31]:
ye=rl.predict(X)
mean_squared_error(ye,y)

7.879881295292486

In [32]:
df['pred'] = ye
df.head()

    mpg  cylinders  displacement  ...  displacement1     year1       pred
0  18.0          8          3070  ...      -0.275392 -1.623241  14.785027
1  15.0          8          3500  ...      -0.133721 -1.623241  13.432295
2  18.0          8          3180  ...      -0.239150 -1.623241  14.496378
3  16.0          8          3040  ...      -0.285276 -1.623241  14.517534
4  17.0          8          3020  ...      -0.291865 -1.623241  14.684856

[5 rows x 14 columns]

Vamos fazer a predição do consumo do carro "chevrolet chevelle malibu", o primeiro do Dataset, que tem 120HP de potência e 3504Kg (consumo=18mpg). Temos que standardizar as features...

In [20]:
pot_s=(120-mh)/dh
peso_s=(3504-mw)/dw
pot_sq=pot_s**2
peso_sq=peso_s**2
rl.predict([[pot_s,peso_s,pot_sq,peso_sq]])

ValueError: ignored

Finalmente, vamos mostrar os parâmetros theta0,theta1,theta2,theta3 e theta4 do modelo

In [0]:
rl.intercept_,rl.coef_

(21.694558679184244,
 array([-3.72121804, -4.35032298,  0.84856164,  0.90727723]))